<div class="confetti-buttons flexrow">
  <button type="button" data-strength="low">
    confetti
  </button>

  <button type="button" data-strength="med">
    Confetti!
  </button>

  <button type="button" data-strength="high">
    CONFETTI!!!!!
  </button>
</div>