<div class="confetti-buttons flexrow">
  <span>🥳</span>

  <button type="button" data-strength="low">
    😐
  </button>

  <button type="button" data-strength="med">
    🎉
  </button>

  <button type="button" data-strength="high">
    🎊
  </button>
</div>