<div class="confetti-buttons flexrow">
  <button type="button" data-action="confetti-sm">
    confetti
  </button>

  <button type="button" data-action="confetti-med">
    Confetti!
  </button>

  <button type="button" data-action="confetti-lg">
    CONFETTI!!!!!
  </button>
</div>